# directories
build/
.vs/
.vscode/
x64/
tools/

# build results
*.exe
*.elf
*.out
*.ilk
*.meta
*.obj
*.o
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
